.DS_Store
oh-my-zsh/
resources/**
!resources/**/*.terminfo

.netrwhist
npm-debug.log

plug.vim.old

files/nvim/.config/nvim/spell
files/nvim/.config/nvim/shada
files/nvim/.config/nvim/plugged
files/nvim/.config/nvim/undo
files/nvim/.config/nvim/swap
files/nvim/.config/nvim/viminfo
