.DS_Store
oh-my-zsh/
resources/**
!resources/**/*.terminfo

.netrwhist
npm-debug.log

plug.vim.old

files/dot-config/configstore
files/dot-config/fontforge

files/dot-config/coc/extensions
files/dot-config/nvim/spell
files/dot-config/nvim/shada
files/dot-config/nvim/plugged
files/dot-config/nvim/undo
files/dot-config/nvim/swap
files/dot-config/nvim/viminfo
