.DS_Store
oh-my-zsh/
resources/**
!resources/**/*.terminfo

.netrwhist
npm-debug.log

plug.vim.old

files/.config/coc/extensions/

files/.config/nvim/spell
files/.config/nvim/shada
files/.config/nvim/plugged
files/.config/nvim/undo
files/.config/nvim/swap
files/.config/nvim/viminfo
